network:
  version: 2
  ethernets:
    enp5s0:
      dhcp4: no
      addresses:
        - {{ fixed_ip }}/24
      gateway4: 192.168.0.125
      nameservers:
        addresses:
          - 8.8.8.8
          - 1.1.1.1